.list {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;

  background-color: #718792;
  color: white;

  list-style-type: none;
}

.list>li {
  background-color: #455a64;
  margin: 10px;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  background-color: white;
}

.menu {
  /* display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: end;
  align-items: center; */

  display: grid;
  grid-template-columns: auto auto;
  gap: 0px 4px;
  align-content: stretch;
  justify-content: end;
  align-items: center;
  justify-items: center;

  background-color: #102027;
  padding: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;

  background-color: #cfd8dc;
}

.title {
  padding: 20px;
  align-self: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.title+span {
  height: 2px;
  background-color: #102027;
  margin: 10px;
}

.note {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 10px;
}

.note>ul {
  padding-left: 20px;
}

.note>ul[title]::before {
  content: attr(title);
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #102027;
  margin: 10px;
}

.note>ul>li {
  font-size: 1rem;
  padding: 10px;
}

.description_container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.description {
  text-align: right;
  font-size: 1rem;
  margin: 10px;
}