:root {
  --content-border-color: rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  background-color: #cfd8dc;
}

.title {
  align-self: center;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 10px;
}

.border {
  height: 2px;
  background-color: var(--content-border-color);
  margin: 0px 10px 0px 10px;
}

.content {
  height: 100%;
  border: 1px solid var(--content-border-color);
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

.content>ul {
  padding-left: 0px;
  list-style-type: none;
}

.content>ul[title]::before {
  display: block;
  color: #102027;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  content: attr(title);
}

.content>ul>li {
  font-size: 1rem;
  padding: 10px;
}

.summary {
  border: 1px solid var(--content-border-color);
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

.summary_container {
  margin: 0px;
}

.summary_title {
  color: #439889;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid var(--content-border-color);
}

.summary_description {
  color: #003d33;
  font-size: 0.8rem;
  text-indent: 0rem;
  margin: 10px;
  font-style: italic;
  border-bottom: 1px solid var(--content-border-color);
}

.menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.description {
  width: 70%;
  font-size: 1rem;
  line-height: 1em;
  /* max-lines: 2; */
  text-overflow: ellipsis;
  word-wrap: normal;
  /* white-space: nowrap; */
  text-align: right;
  margin-left: 10px;
  overflow: hidden;
}

.description :hover {
  color: #003d33;
  text-decoration: underline;
}

.description :active {
  color: #003d33;
  text-transform: uppercase;
}

.pre {
  border: 1px solid var(--content-border-color);
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.25rem;
  }

  .border {
    display: none;
  }

  .content>ul[title]::before {
    font-size: 1rem;
  }

  .description {
    font-size: 0.5rem;
    text-align: right;
    margin: 10px;
  }

  .content>ul>li {
    font-size: 0.5rem;
    padding: 10px;
  }
}