.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  background-color: #cfd8dc;
}

.title {
  align-self: center;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 10px;
}

.border {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
}

.note {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0px;
  margin: 10px;
}

.note>ul {
  padding-left: 0px;
  list-style-type: none;
}

.note>ul[title]::before {
  display: block;
  color: #102027;
  font-size: 1.5rem;
  text-align: center;
  margin: 10px;
  content: attr(title);
}

.note>ul>li {
  font-size: 1rem;
  padding: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-size: 1rem;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  text-align: right;
  margin: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.25rem;
  }

  .border {
    display: none;
  }

  .note>ul[title]::before {
    font-size: 1rem;
  }

  .description {
    font-size: 0.5rem;
    text-align: right;
    margin: 10px;
  }

  .note>ul>li {
    font-size: 0.5rem;
    padding: 10px;
  }
}