.title {
  height: 100%;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  word-spacing: 0rem;
  color: white;
  text-transform: uppercase;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;

  background-color: #37474f;
  color: white;

  list-style-type: none;
}

.menu>li {
  margin: 0px;
}