:root {
  --header-hight: calc(48px * 3);
  --footer-hight: 48px;
}

.header {
  height: var(--header-hight);
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  background-color: #001529;
  padding: 0px;
}

.main {
  height: calc(100vh - var(--header-hight) - var(--footer-hight));
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 0px 0px;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  background-color: white;
  overflow: auto;
}

.footer {
  position: fixed;
  height: var(--footer-hight);
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0px;
  background-color: #001529;
  color: white;
}

.text-link {
  text-decoration: inherit;
  color: white;
}

.text-link:hover {
  color: #42a5f5;
  transition-property: color;
  transition-duration: 0.5s;
}

.text-link:active {
  color: #0077c2;
  transition-property: color;
  transition-duration: 0.5s;
}

.list-link {
  display: block;
  text-decoration: inherit;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.list-link:hover {
  background-color: #42a5f5;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.list-link:active {
  background-color: #0077c2;
  transition-property: background-color;
  transition-duration: 0.5s;
}

:root {
  --component-font-size: 1rem;
  --component-height: calc(var(--component-font-size) * 2.5);
  --component-border-radius: 4px;
}

.button {
  min-width: calc(var(--component-font-size) * 6);
  height: var(--component-height);
  border: none;
  border-radius: var(--component-border-radius);
  background-color: #85bb5c;
  color: white;
  font-size: var(--component-font-size);
  text-transform: uppercase;
  padding: 10px;
}

.button:hover {
  background-color: #558b2f;
  cursor: pointer;
  transition-property: background-color, cursor;
  transition-duration: 0.5s;
}

.button:active {
  background-color: #255d00;
  transition-property: background-color, cursor;
  transition-duration: 0.5s;
}

.button:disabled {
  background-color: #455a64;
  color: #cfd8dc;
}