:root {
  --component-font-size: 1rem;
  --component-height: calc(var(--component-font-size) * 2);
  --component-border-radius: 0px;
}

.title-link {
  color: white;
  text-decoration: inherit;
}

.title-link:hover {
  color: #42a5f5;
  transition-property: color;
  transition-duration: 0.5s;
}

.title-link:active {
  color: #0077c2;
  transition-property: color;
  transition-duration: 0.5s;
}

.menu-link {
  display: block;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: inherit;
  text-transform: uppercase;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  text-align: center;
  padding: 10px;
  overflow: hidden;
}

.menu-link:hover {
  background-color: #42a5f5;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.menu-link:active {
  background-color: #0077c2;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button {
  min-width: calc(var(--component-font-size) * 6);
  min-height: var(--component-height);
  border: none;
  border-radius: var(--component-border-radius);
  background-color: #85bb5c;
  color: white;
  font-size: var(--component-font-size);
  text-transform: uppercase;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  padding: 10px;
  overflow: hidden;
}

.button:hover {
  background-color: #558b2f;
  cursor: pointer;
  transition-property: background-color, cursor;
  transition-duration: 0.5s;
}

.button:active {
  background-color: #255d00;
  transition-property: background-color, cursor;
  transition-duration: 0.5s;
}

.button:disabled {
  background-color: #455a64;
  color: #cfd8dc;
}

@media only screen and (max-width: 768px) {
  .title-link {
    font-size: 1.25rem;
  }

  .menu-link {
    font-size: 0.5rem;
  }

  :root {
    --component-font-size: 0.5rem;
  }
}